@import "tailwindcss";
@import "tailwindcss-primeui";

@custom-variant dark (&:where(.dark-mode, .dark-mode *));

:root {
  --p-avatar-xl-width: 80px;
  --p-avatar-xl-height: 80px;
}

/* default bias up a bit for MLB headshots */
.p-avatar img {
  object-fit: cover;
  object-position: center 30%;
}

/* global CSS (tailwind.css or a layout <style>) */

